@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }

  body {
    font-weight: 400;
    min-height: 100vh;
    line-height: 1;
    background-color: #f8f3ed;
  }
}

/* css fix */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #dfdbd5;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

/* custom utilites */
.ut-animation {
  @apply transition-all duration-200;
}

.input {
  @apply w-full px-4 py-3 font-medium text-sm bg-transparent border-2  rounded-lg outline-none;
}
