@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@layer base {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    min-height: 100vh;
    line-height: 1;
    background-color: #fbfbfb;
  }
}

/* css fix */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
}
.scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #dfdbd5;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

/* custom utilites */
.ut-animation {
  @apply transition-all duration-200;
}

.input {
  @apply w-full px-4 py-2 font-medium text-sm bg-transparent border-2 placeholder:text-gray-400  rounded-md outline-none;
}

.auth {
  @apply w-full max-w-[30rem] rounded-lg py-5 px-7  shadow-lg;
}

.red-shadow {
  box-shadow: 0px 4px 10px rgb(232, 72, 75, 0.5);
}

.light-shadow {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);
}
